.App {
  background-color: #ccd5ff;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.container {
  min-height: 600px;
  max-height: 90vh;
  min-width: 300px;
  max-width: 800px;
  width: 100%;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}


/* Responsive design */
@media (max-width: 600px) {
  .container {
    padding: 10px;
  }
}
